.container {
  display: flex;
  justify-content: space-around;
}

.item {
  border: 2px solid #eee;
  padding: 20px;
  height: 500px;
}

.items {
  padding: 10px;
  background-color: azure;
  margin-top: 5px;
}